@{
    ViewData["Title"] = "Update Records";
}
@model BurialsViewModel;

<div class="row">
    <div class="col col1">
        <div class="text-center">
            <a asp-controller="Admin" asp-action="Create" class="btn btn-primary">Add Record</a>
        </div>
        <br />
        <h2>Filter</h2>
        <form method="post" asp-controller="Admin" asp-action="Crud" style="display:flex;flex-direction:column;">

            @*Male / female Radio button*@
            <div class="radiobtns">
                <label for="radio">Sex:</label>
                <div>
                    <input type="radio" name="sex" id="male" value="M">
                    <label for="male">Male</label>

                    <input type="radio" name="sex" id="female" value="F">
                    <label for="female">Female</label>
                </div>
            </div>

            @*Hair Color*@
            <div>
                <label for="inlineFormCustomSelect">Hair Color:</label>
                <select id="HairColor" name="Haircolor">
                    <option selected value="">Choose...</option>
                    <option value="B">Brown/DarkBrown/LtBrown</option>
                    <option value="K">Black</option>
                    <option value="A">Brown-Red</option>
                    <option value="R">Red/Red-Bl</option>
                    <option value="D">Blond</option>
                    <option value="U">Unknown</option>
                    <option value="N/A">N/A</option>
                </select>
            </div>

            @*Textile Color*@
            @*<div>
                <label for="inlineFormCustomSelect">Textile Color:</label>
                <select id="TextileColor">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>*@

            @*Burial Depth*@
            <div>
                <label for="Depth">Depth: </label>
                <input type="text" name="Depth" id="Depth" />
            </div>

            @*Age at Death*@
            <div>
                <label for="inlineFormCustomSelect">Age at Death</label>
                <select id="TextileColor" name="Age">
                    <option selected value="">Choose...</option>
                    <option value="A">Adult</option>
                    <option value="C">Child</option>
                    <option value="I">Infant</option>
                    <option value="B">Baby</option>
                </select>
            </div>

            @*Head Direction*@
            <div>
                <label for="HeadDirection">Head Direction:</label>
                <select id="HeadDirection" name="HeadDirection">
                    <option value="">Choose...</option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select>
            </div>

            @*Facebundles*@
            <div>
                <label for="Faceundles">Face Bundles:</label>
                <select id="FaceBundles" name="FaceBundles">
                    <option value="">Choose...</option>
                    <option value="Y">Yes</option>
                    <option value="">No</option>
                </select>
            </div>

            @*Burial ID (SquareNorthSouth, NorthSouth, SquareEastWest, EastWest, Area, Burial Number)*@
            <div>
                <label for="inlineFormCustomSelect">Burial ID:</label>
                <label for="inlineFormCustomSelect">SquareNorthSouth:</label>
                <select id="SquareNorthSouth" name="SquareNorthSouth">
                    <option selected value="">Choose...</option>
                    <option value="150">150</option>
                    <option value="160">160</option>
                    <option value="170">170</option>
                    <option value="180">180</option>
                    <option value="190">190</option>
                    <option value="200">200</option>
                </select>

                <label for="inlineFormCustomSelect">NorthSouth:</label>
                <select id="NorthSouth" name="NorthSouth">
                    <option selected value="">Choose...</option>
                    <option value="N">North</option>
                    <option value="S">South</option>

                </select>

                <label for="inlineFormCustomSelect">SquareEastWest:</label>
                <select id="SquareEastWest" name="SquareEastWest">
                    <option selected value="">Choose...</option>
                    <option value="">0</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                </select>

                <label for="inlineFormCustomSelect">EastWest:</label>
                <select id="EastWest" name="EastWest">
                    <option selected value="">Choose...</option>
                    <option value="E">East</option>
                    <option value="W">West</option>

                </select>

                <label for="inlineFormCustomSelect">Area:</label>
                <select id="Area" name="Area">
                    <option selected value="">Choose...</option>
                    <option value="SW">SW</option>
                    <option value="NE">NE</option>
                    <option value="NW">NW</option>
                    <option value="SE">SE</option>
                    <option value="NNW">NNW</option>
                </select>

                <label for="inlineFormCustomSelect">Burial Number:</label>
                <input type="text" name="BurialNumber" id="BurialNumber" />

            </div>

            @*Textile Function*@
            <button type="submit">Filter</button>
        </form>
    </div>
    <div class="col-10" style="display:flex;flex-direction:column;">
        <div class="text-center">
            <h1 class="display-4">Update Records</h1>
            <div page-model="@Model.PageInfo" page-action="Crud" class="FUN"></div>
        </div>


        <div style="width:75vw;align-items:center;display:flex;flex-direction:row;justify-content:center;align-self:center;flex-wrap:wrap;">
            @foreach (var b in Model.burialInfo)
            {
                <div class="card" style="width:250px;">
                    <div class="card-body">
                        <h5 class="card-title">@b.Id</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@b.BurialId</h6>
                        @if (b.Sex == "")
                        {
                            <p class="card-text">Sex: N/A</p>
                        }
                        else if (b.Sex is null)
                        {<p class="card-text">Sex: N/A</p>}
                        else
                        {
                            <p class="card-text">Sex: @b.Sex</p>
                        }
                        <form method="post" asp-controller="Home" asp-action="BurialDetails">
                            <input name="Id" id="Id" type="hidden" value=@b.Id />
                            <button type="submit">View More Info</button>
                        </form><br />
                        <span class="card-text">
                            <a asp-controller="Admin" asp-action="Edit" asp-route-burialid="@b.Id" class="btn btn-secondary">Edit</a>
                            <a asp-controller="Admin" asp-action="Delete" asp-route-burialid="@b.Id" class="btn btn-danger">Delete</a>
                        </span>
                    </div>
                </div>
            }
            </div>
        <div page-model="@Model.PageInfo" page-action="Crud" class="FUN text-center"></div>
    </div>
</div>