@{
    //ViewData["Title"] = "Users";
    
}
@model List<UserPageViewModel>


<table class="table">
    <thead>
        <tr>

            <th scope="col">Username</th>
            <th scope="col">Role</th>
            <th scope="col">Change Status</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        @foreach (UserPageViewModel u in Model)
        {
            <tr>
                <th scope="row">@u.UserName</th>
                <td>@u.UserRole</td>
                @*<td>@u.</td>*@
                <td>

                    <form asp-controller="Admin" asp-action="Update">
                        <input type="hidden" name="Id" value="@u.UserId" />
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="role" id="@u.UserId" value="Admin">
                            <label class="form-check-label" for="@u.UserId">Admin</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="role" id="@u.UserId" value="Researcher">
                            <label class="form-check-label" for="@u.UserId">Researcher</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="role" id="@u.UserId" value="Member">
                            <label class="form-check-label" for="@u.UserId">Member</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Change Role</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>