@{
    ViewData["Title"] = "Burial List";
}
@model BurialsViewModel;

<div class="text-center">
    <h1 class="display-4">Burial List</h1>
    <p>Each record represents a burial at Fag el-Gamous in Egypt.</p>
</div>

<div class="sidebar">
    <form method="post" asp-controller="Home" asp-action="BurialList" style="display:flex;flex-direction:row;">

        @*Male female Radio button*@

        <label for="radio" style="display:flex;">Sex</label>
        <div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sex" id="male" value="M">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sex" id="female" value="F">
                <label class="form-check-label" for="female">
                    Female
                </label>
            </div>
        </div>

        @*Hair Color*@
        <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Hair Color</label>
            <select class="custom-select mr-sm-2" id="HairColor">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        @*Textile Color*@
        <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Textile Color</label>
            <select class="custom-select mr-sm-2" id="TextileColor">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>


        @*Burial Depth*@
        <label for="Depth">Depth: </label>
        <input type="text" name="Depth" id="Depth" />   

        @*Age at Death*@
        <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Age at Death</label>
            <select class="custom-select mr-sm-2" id="TextileColor">
                <option selected>Choose...</option>
                <option value="A">Adult</option>
                <option value="C">Child</option>
                <option value="I">Infant</option>
                <option value="B">Baby</option>

            </select>
        </div>

        @*Head Direction*@
        <div class="col-auto my-1">
            <label class="mr-sm-2" for="HeadDirection">Head Direction</label>
            <select class="custom-select mr-sm-2" id="HeadDirection" name="HeadDirection">
                <option>Choose...</option>
                <option value="N">North</option>
                <option value="E">East</option>
                <option value="S">South</option>
                <option value="W">West</option>

            </select>
        </div>

        @*Burial ID (SquareNorthSouth, NorthSouth, SquareEastWest, EastWest, Area, Burial Number)*@
        <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Burial ID</label>
            <select class="custom-select mr-sm-2" id="TextileColor">
                <option selected>Choose...</option>
                <option value="">SquareNorthSouth</option>
                <option value="2">NorthSouth</option>
                <option value="3">SquareEastWest</option>
                <option value="4">EastWest</option>
                <option value="5">SquareEastWest</option>

            </select>
        </div>
        @*Textile Function*@
        <button type="submit" style="width:100px; align-self:center; margin-top:10px;">Filter</button>
    </form>
</div>


<div style="width:75vw;align-items:center;display:flex;flex-direction:row;justify-content:center;align-self:center;flex-wrap:wrap;">
    @foreach (var b in Model.burialInfo)
    {
        <div class="card" style="width:250px;">
            <div class="card-body">
                <h5 class="card-title">@b.Id</h5>
                <h6 class="card-subtitle mb-2 text-muted">@b.BurialId</h6>
                @if (b.BurialDepth == "")
                {
                    <p class="card-text">Depth: N/A</p>
                }
                else
                {
                    <p class="card-text">Depth: @b.BurialDepth m</p>
                }
                @if (b.Sex == "")
                {
                    <p class="card-text">Sex: N/A</p>
                }
                else if (b.Sex is null)
                {<p class="card-text">Sex: N/A</p>}
                else
                {
                    <p class="card-text">Sex: @b.Sex</p>
                }
                <form method="post" asp-controller="Home" asp-action="BurialDetails">
                    <input name="Id" id="Id" type="hidden" value=@b.Id />
                    <button type="submit">View More Info</button>
                </form>
            </div>
        </div>
    }

    <div page-model="@Model.PageInfo" page-action="BurialList"></div>
</div>